@font-face {
	font-family: 'topfont';
	src: url(Kiwi_maru.ttf);
}
html,a{
    font-family: topfont, sans-serif;
    margin: 0;
}

body{
    background: url(./bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    margin: 0;
}
#outtop{
    height: 100vh;
    width: 100%;
        display: flex;
        flex-direction: column;
}
#top{
    background-color: #aa9538;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    margin: auto 20px;
}

#topimg{
    width: 50vw;
    border-radius: 20px;
    min-width: 250px;
    box-shadow: #afa047 0px 0px 20px;
}
#top h1{
    color: #fff;
    font-size: 4rem;
    font-weight: normal;
}
#top .buttons{
    height: 50px;
}

#top .buttons img{
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    background-color: #bba95b;
}
#top .buttons img:hover{
    background-color: #ddcc7e;
}
#about{
    position: relative;
    background: #ad9b47;
    padding: 100px 10px;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
}


#links{
    background-color: #8a7d45aa;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}
.linkses{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.link_x{
    background: linear-gradient(to right, #221e0e 50%, #685c28 50%);
}
.link_dis{
    background: linear-gradient(to right, #366f96 50%, #39808d 50%);
}
.link_git{
    background: linear-gradient(to right, #4e4c41 50%, #706c4e 50%);
}
.link_ins{
    background: linear-gradient(to right, #852a2a 50%, #af4f4f 50%);
}
.link_qii{
    background: linear-gradient(to right, #548049 50%, #b4c283 50%);
}
.link_not{
    background: linear-gradient(to right, #242424 50%, #b6b187 50%);
}
.link_kak{
    background: linear-gradient(to right, #0c95be9d 50%, #79b0e4cb 50%);
}
.link_pro{
    background: linear-gradient(to right, #2a8576 50%, #ada48b 50%);
}
.link_scr{
    background: linear-gradient(to right, #854d04 50%, #b88423 50%);
}

.link{
    margin: 5px 5px;
    height: 36px;
    border-radius: 23px;
    display: flex;
    width: fit-content;
    padding: 5px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease;

}
.link img{
    height: 36px;
    border-radius: 50%;
}
.link a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 22px;
}

.link:hover {
    background-position: left bottom;
}

#products{
    position: relative;
    background: #dabf4a;
    padding: 100px 10px;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.product_card{
    margin-bottom: 20px;
    background-color: #fff395;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset #e6dcb2 0 0 10px;
}
.product_card img{
    background-color: #fffce9;
    height: 100px;
    border-radius: 20px;
}
.product_card_flex{
    width: 100%;
}
.product_card_flex .x_link{
    background-color: #000;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}
.product_card_flex .x_link:hover{
    background-color: #333;
}

#skill{
    margin: 10px;
    border-radius: 30px;
    background-color: #e7d37caf;
    padding: 10px;
}
#skill div{
    display: flex;
    flex-wrap: wrap;
}
#skill img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #fff4b7;
    margin: 10px;
}

footer{
    background-color: #bba95b;
    text-align: center;
    padding: 0.5em 0;
}
@media (min-width: 600px) {
    .product_card{
        display: flex;
    }
    .product_card_flex{
        margin-left: 10px;
    }
}
@media (min-width: 800px) {
    #top {
        display: grid;
        grid-template-columns: 50vw 1fr;
    }
    .intop{
        height: 50vw;
        display: flex;
        flex-direction: column;
    }
    .buttons{
        margin: auto 0 5px 0;
    }
}
@media (min-width: 1200px) {
    #top {
        display: grid;
        grid-template-columns: 400px 1fr;
        width: 800px;
        margin: auto;
    }
    #topimg{
        width: 400px;
    }
    .intop{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .buttons{
        margin: auto 0 5px 0;
    }
}

.float-in-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.float-in-text.show {
    opacity: 1;
    transform: translateY(0);
}